
  --.--     o 
    |  ,---..|__  ,---.,---.     
    |  |    ||    |   ||   |   {{ ansible_distribution }} {{ ansible_distribution_version }}
    `  `    ``---'`---'`   '   {{ ansible_date_time.iso8601_basic_short }}
  ,--.                ,---.           
  |   |,---.|__  ,---.|    ,---.,---.|__  ,---.,---.
  |   |,---||    ,---||    |---'|   ||    |---'|  
  `--' `---^`---'`---^`---'`---'`   '`---'`---'`


