
      *--+--*--*
     /| /| /| /|
    / |/ |/ |/ |    #####  ####   #  #####  ###   #   # TM
   +--*--+--*--*      #    #   #  #    #   #   #  ##  #
   | /| /| /| /|      #    ####   #    #   #   #  # # #
   |/ |/ |/ |/ |      #    #  #   #    #   #   #  #  ##
   *--+--+--+--+      #    #   #  #    #    ###   #   #
   | /| /| /| /
   |/ |/ |/ |/
   *--*--+--*

  HVM Instance ({{ ansible_facts['distribution'] }} {{ ansible_facts['distribution_version'] }} {{ ansible_facts['date_time'].iso8601_basic_short }})
  https://docs.tritondatacenter.com/public-cloud/instances/virtual-machines/images/linux/{{ ansible_facts['distribution'] |lower}}

