
      *--+--*--*
     /| /| /| /|
    / |/ |/ |/ |    #####  ####   #  #####  ###   #   # TM
   +--*--+--*--*      #    #   #  #    #   #   #  ##  #
   | /| /| /| /|      #    ####   #    #   #   #  # # #
   |/ |/ |/ |/ |      #    #  #   #    #   #   #  #  ##
   *--+--+--+--+      #    #   #  #    #    ###   #   #
   | /| /| /| /
   |/ |/ |/ |/
   *--*--+--*

  HVM Instance ({{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_date_time.iso8601_basic_short }})
  https://docs.tritondatacenter.com/public-cloud/instances/virtual-machines/images/linux/{{ ansible_distribution |lower}}

