# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.

# Copyright 2023 MNX Cloud, Inc.

---

- name: Remove subiquity-disable-cloudinit-networking.cfg file on Ubuntu 20.04
  file:
    path: /etc/cloud/cloud.cfg.d/subiquity-disable-cloudinit-networking.cfg
    state: absent
  ignore_errors: true
  #when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'focal'

- name: Remove 99-installer.cfg
  file:
    path: /etc/cloud/cloud.cfg.d/99-installer.cfg
    state: absent
  ignore_errors: true
  #when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'focal'

- name: run cloud-init clean
  command: cloud-init clean
  ignore_errors: true

- name: Remove old kernels
  shell: dnf remove -y $(dnf repoquery --installonly --latest-limit=-1 -q)
  when: ansible_os_family == "RedHat"

- name: Remove old kernels
  shell: apt-get purge -y $(dpkg --get-selections | grep ^linux-.*-5.* | grep -v $(uname -r) | awk '{print $1}')
  when: ansible_os_family == "Debian"

- name: Delete DNF cache
  command: dnf clean all
  when: ansible_os_family == "RedHat"

- name: Delete APT cache
  apt:
    clean: yes
  when: ansible_os_family == "Debian"

- name: Find APT sources cache
  find:
    paths:
      - /var/lib/apt/lists
    patterns: ".*_dists_.*"
    use_regex: yes
  register: src_cache
  when: ansible_os_family == "Debian"

- name: Remove APT sources cache
  ansible.builtin.file:
     path: "{{item.path}}"
     state: absent
  loop: '{{ src_cache.files }}'
  when: ansible_os_family == "Debian"

- name: Find temporary files
  find:
    file_type: any
    paths:
      - /tmp
      - /var/tmp
    patterns: '*'
  register: tmp_files

- name: Remove temporary files
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ tmp_files.files }}"

- name: Remove SSH host keys block
  block:
    - name: Find SSH host keys
      find:
        paths: /etc/ssh
        patterns: '*host*key*'
      register: host_keys

    - name: Remove SSH host keys
      file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ host_keys.files }}"
  when: cleanup_ssh_host_keys | bool

- name: Remove kickstart files
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /root/anaconda-ks.cfg
    - /root/original-ks.cfg

- name: Truncate files
  command: "truncate -s 0 {{ item }}"
  loop:
    - /etc/machine-id
    - /etc/resolv.conf
    - /var/log/audit/audit.log
    - /var/log/wtmp
    - /var/log/lastlog
    - /var/log/btmp
    - /var/log/cron
    - /var/log/maillog
    - /var/log/messages
    - /var/log/secure
    - /var/log/spooler
  ignore_errors: true

- name: Remove log folders.
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/log/anaconda
    - /var/log/qemu-ga
    - /var/log/tuned
    - /var/lib/cloud
    - /etc/hostname
    - /etc/machine-info
    - /var/lib/systemd/credential.secret
  ignore_errors: true

- name: Find log files.
  find:
    paths:
      - /var/log
      - /var/log/sssd
    patterns: '*log,*.old,*.log.gz,*.[0-9],*.gz,*-????????'
  register: log_files

- name: Remove log files in log dirs that must exist
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ log_files.files }}"

- name: Remove random-seed
  file:
    path: /var/lib/systemd/random-seed
    state: absent

- name: Disable root SSH login via password
  file:
    path: /etc/ssh/sshd_config.d/01-permitrootlogin.conf
    state: absent
  when: ansible_os_family == "RedHat" and ansible_facts['distribution_major_version'] == '9'

- name: Fill free space with zeroes
  shell: dd if=/dev/zero of=/zeroed_file bs=1M oflag=direct || rm -f /zeroed_file

- name: Detect swap partition
  command: grep -oP '^/dev/[\w-]+' /proc/swaps
  register: swaps
  ignore_errors: true

- name: Wipe out swap data
  block:
    - name: Get swap partition UUID
      command: "blkid {{ swaps.stdout }} -s UUID -o value"
      register: swap_blkid

    - name: Unmount swap partition
      command: "swapoff {{ swaps.stdout }}"

    - name: Fill swap partition with zeroes
      shell: "dd if=/dev/zero of={{ swaps.stdout }} bs=1M oflag=direct || /bin/true"

    - name: Format swap partition
      command: "mkswap -U {{ swap_blkid.stdout }} -f {{ swaps.stdout }}"

    - name: Mount swap partition
      command: "swapon {{ swaps.stdout }}"
  when: swaps.rc == 0

- name: Sync disc
  command: sync

- name: Clear shell history
  shell: history -c
  ignore_errors: true

- name: Check if WALinuxAgent is installed
  stat:
    path: /usr/sbin/waagent
  register: cleanup_vm_waagent

- name: Deprovision WALinuxAgent
  command: waagent -deprovision+user -force
  when: cleanup_vm_waagent.stat.exists
